.row {
  display: grid;
  grid-template-columns: 30px auto 90px 90px 160px 90px 90px 60px;
  grid-column-gap: 20px;
  padding: 12px;
  align-items: center;
}
.headerRow {
  font-size: 13px;
  border-bottom: 1px solid hsla(0, 0%, 93%, 1);
}
.action {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  cursor: pointer;
}
.priority {
  padding: 6px 12px;
  border-radius: 8px;
  align-self: center;
  display: flex;
  justify-self: flex-start;
  font-weight: bold;
}
.status {
  font-weight: bold;
}
.text {
}
