.todoRow {
  display: grid;
  grid-template-columns: 20px 50px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'check text text'
    'check priority assignee';
}
.check {
  grid-area: check;
}
.text {
  grid-area: text;
}
.priority {
  grid-area: priority;
}
.assignee {
  grid-area: assignee;
}
