@mixin circle($number) {
  width: $number;
  height: $number;
  border-radius: $number;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center; // to show the initials in middle
  font-size: calc($number / 3);
}

.initialsIcon {
  margin: 5px 15px 5px 10px;
  background-color: orange;
  color: white;
  font-weight: bold;
  @include circle(36px);
}
.personIcon {
  margin: 5px 15px 5px 10px;
  @include circle(36px);
}

.userOption {
  display: flex;
  justify-content: flex-start;
  padding: 2px;
}
.invert {
  flex-direction: row-reverse;
}
.userOptionName {
  padding: 13px 0;
  display: flex;
  align-items: center;
}
