.header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px 30px;
}
.user {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
}
.logo {
  width: 50px;
  height: 40px;
  display: flex;
  color: #3897d3;
}
